/* Optional: Customize navbar style */
/* Apply Montserrat font to the entire page */
body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #370061; 
}
.navbar-nav .nav-text:hover {
  color: #FFD700 !important; /* Gold text on hover */
}
.nav-background{
 padding-top: 20px;
 padding-bottom: 20px;
}
.nav-text{
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: white !important;
}
.nav-content{
  display: flex;
  gap: 24px;
}
.login-btn{
 padding:10px 18px;
 color: white;
 background-color: transparent;
 border-color: white;
 border-radius: 4px;
}
.register-btn{
  color: #370061 !important;
  border-color: white;
  border-radius: 4px;
  padding:10px 18px;
}
@media (max-width: 768px) {
    button {
        width: 50%;
    }
}

.navbar .container {
  display: flex;
  justify-content: space-between; 
}

.navbar-toggler{
  width:20%;
  color: white;
}







