.container-size {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;

}

:root {
    --Black: #000000;
    --White: #ffffff;
    --Text: #0E0E0E;
    --Text-2: #545454;
    --Primary: #370061;
}

h1,
h3,
p,
a {
    margin: 0 !important;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-purple {
    background-color: var(--Primary);
}

.color-secondary {
    color: var(--Text)
}

.color-p {
    color: var(--Text-2);
}

.bg-ECECEC {
    background: #ECECEC;
}

.home-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 50px 20px;
    width: 100%;
}

.text-4 {
    font-size: 24px;
    line-height: 150%;
    color: var(--Text);
}

.text-5 {

    font-size: 30px;
    line-height: 120%;

}

.text-7 {
    font-size: 16px;
    line-height: 24px;
}

.body-1 {
    font-size: 20px;
    line-height: 150%;
}

.body-2 {
    font-size: 18px;
    line-height: 150%;
}

.body-3 {
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
}

.subtitle {
    font-size: 22px;
    line-height: 150%;
}



.margin-title {
    margin-bottom: 72px;
}

@media (max-width: 1024px) {
    .spacing {
        padding: 60px;
    }
}

.spacing-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.spacing-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (max-width: 630px) {
    .spacing {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .margin-title {
        margin-bottom: 39.84px;
    }

    .max-sm-h-160 {
        max-height: 160px;
    }

    .spacing-60 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

}

.spacing20 {
    padding: 20px;
}

.gap-10 {
    gap: 10px;
}

.gap-16 {
    gap: 16px;
}

.gap40 {
    gap: 40px;
}

.gap20 {
    gap: 20px;
}

@media (max-width: 930px) {
    .gap-40 {
        gap: 40px;
    }

    .text-2-sm {
        font-size: 24px;
        line-height: 150%;
    }

    .body-2-sm {
        font-size: 18px;
        line-height: 150%;
    }

    .subtitle-sm {
        font-size: 22px;
        line-height: 150%;
    }

    .ml-sm-0 {
        margin-left: 0px !important;
    }
}

.ml40 {

    margin-left: 70px;
}

.p16 {
    padding: 16px;
}

.p10 {
    padding: 16px;
}

.rounded-24 {
    border-radius: 24px !important;
}


@media (min-width: 1220px) {
    .mb-129 {
        margin-bottom: 129px;
    }
}

.home-intro p {
    font-size: 1rem;
    color: #555;
}

.subscribe-btn {
    display: inline-block;
    background: var(--Primary);
    color: var(--White);
    text-decoration: none;
    border-radius: 4px;
    padding: 14px 20px;
    text-align: center;
    border: none;
    cursor: pointer;

}

.bettors {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bettors img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.bettors span {
    color: var(--Text-2);
}

.carousel-item {
    transition: transform 0.5s ease-in-out;
}

.carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}



.why-choose-card {
    background: linear-gradient(to left, #FFFFFF, #F5F5F5, #FFFFFF);
    width: 321px;
    border-radius: 12px;
}

.why-choose-card img {
    height: 200px;
    border-radius: 12px;
    object-fit: cover;

}

.card-content {
    padding: 15px;
}

.adavatage-container {
    gap: 40px;
}

.advantage-card {
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.1);
}

.adavatage-frame {
    color: var(--Text);
}

@media (max-width: 768px) {
    .advantage-card {
        width: 390px !important;
    }

}

.Product-Feature-title p {
    color: var(--Text-2);
}

@media (max-width: 768px) {
    .product-features-grid {
        grid-template-columns: 1fr;
    }

    .product-feature-card {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.load-more-btn {
    background-color: var(--Primary);
}

.accordion-item {
    padding: 28px;
    border: none !important;
    /* Removes all borders */
    border-bottom: 1px solid #ddd !important;
    /* Keeps only bottom border */
}

.accordion-button {
    background-color: transparent !important;
    color: inherit;
    /* Keeps default text color */
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.accordion-button:not(.collapsed) {
    color: #7200CB !important;
    background-color: #fff !important;
}

.accordion-button:focus,
.accordion-button:not(.collapsed):focus {
    color: #7200CB !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* 
.accordion-item {
    padding: 28px;
}

.accordion-button:not(.collapsed) {
    color: #7200CB !important;
    background-color: #fff !important;
    border: none !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    box-shadow: none !important;
    color: #7200CB !important;
    border: none !important;
    outline: none !important;
} */

.sign18 {
    border: 4px solid #FB0000;
    padding: 4px 1px 4px 4px;
}

.a-link {
    color: #7200CB;
}

@media (max-width: 468px) {
    .faq-img img {
        max-width: 320px;
        max-height: 299px;
    }
}

/* Murali */
/* ---------- Common CSS ------------- */

body {
    font-family: 'Montserrat', sans-serif;
}

.display-1 {
    font-size: 40px;
    line-height: 120%;
}

.display-2 {
    font-size: 36px;
    line-height: 120%;
}

.title-1 {
    font-size: 30px;
    line-height: 120px;
}

.title-2 {
    font-size: 24px;
    line-height: 150%;
}

.Subtittle {
    font-size: 22px;
    line-height: 150%;
}

.body-1 {
    font-size: 20px;
    line-height: 150%;
}

.body-2 {
    font-size: 18px;
    line-height: 150%;
}

.body-3 {
    font-size: 16px !important;
    line-height: 150%;
}

.body {
    font-size: 14px;
    line-height: 150%;
}



/* ----------------Navbar CSS------------------ */
.navbar-gap{
    gap: 24px;
}

/* ---------------------------Footer CSS--------------------------------  */
.footer-text {
    color: #D1D1D1;
}

.footer-button {
    padding: 10px 18px;
}

.footer-headding-gap {
    gap: 22px;
}
.footer2{
    background-color: #370061;
    padding: 24px;
}

/* ------------------Modul Race Matrix------------------------- */


.text-div {
    gap: 20px;
}

.race-matrix-heading {
    font-size: 24px;
    line-height: 33x;
}

.race-matrix-text {
    font-size: 14px;
    line-height: 21px;
    color: #545454;
}

.span-text {
    color: #7200CB;
    font-size: 14px;
    line-height: 21px;
}

.race-matrix-img {
    max-width: 570px;
    max-height: 320px;
}

.race-matrix {
    color: #7200CB;
    line-height: 29px;
    font-size: 24px;

}
@media (max-width: 768px) {
    .matrix-head {
        display: flex;
        flex-direction: column;
        gap: 32px; 
        flex-direction: column-reverse;
    }
}

.cards {
    max-width: 30% !important;
}

.card-box {
    background-color: #FAFAFA !important;
    padding: 24px;

}
.arrow-color{
    color:#7200CB;
}
.matrix-color{
    color: #545454;
}
